body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family: 'Ubuntu', sans-serif;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 60px 1fr 40px;
	grid-template-columns: 250px 1fr 350px;
	grid-template-areas: 
	"header header header"
	"sidebar content dashboard"
	"footer footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.nav {
	grid-area: nav;
	padding:10px;
	background-color: #444;
	color: white;
	font-size: 1.2em;
}

.sidebar {
	color: #444;
	grid-area: sidebar;
	padding:10px;
	background-color: #666;
	overflow: auto;
}

.sidebar-title {
	color: #eee;
}
/* 
.dashboard {
	grid-area: dashboard;
} */
.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}

/* legend styles */
.info {
	/* text-align: center; */

	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 250px;
	min-height: 50px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.item {
	color: #ccc;
	margin:3px;
	padding: 10px;
	cursor: pointer;
}

.map-item {
    background-color: #333;
}
.layer-item {
    background-color: #444;
}

.item:hover {
	background-color: #111;
}

.legend-scheme {
	border-radius: 2px;
	padding: 5px;
	background-color: #666;
	color: #ccc;
	font-size: 0.8em;
	margin: 1px;
	cursor: pointer;
}
.legend-color {
	float: left;
	border-radius: 4px;
	padding: 2px;
	background-color: rgb(65, 0, 0);
	color: #ccc;
	font-size: 0.8em;
	margin: 1px;
	cursor: pointer;
}

.selectivity-result-label .selectivity-results-container .selectivity-result-item {
	color: #444;
}